<footer class="footer mt-5">
  <div class="content has-text-centered">
    <p>
      <strong>User management</strong> by <a href="https://www.jnutterdev.com">John Nutter</a> for jnutterdev.com
    </p>
  </div>
</footer>