<footer class="">
  <div class="">
    <p>
      <strong>MySQL, Express.js, and Node.js bootstraps</strong> by <a href="https://www.jnutterdev.com">John Nutter</a> for jnutterdev.com
    </p>
  </div>
</footer>