     <form action="/" method="POST" novalidate> 
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Find a user"></p>
                    <p class="control">
                        <a class="button is-info">
                            Search
                        </a>
                    </p>
                </div>
        </form>