{{> breadcrumb}}

{{#if alert}}
<div class="alert">
    <strong>{{alert}}</strong>
</div>
{{/if}}
{{#each rows}}
<form action="/edituser/{{this.id}}" method="POST" class="customers">
    {{> userform}}
</form>
{{/each}}