<form action="/files" method="POST" enctype="multipart/form-data" class="p-5">
    <p>Upload mod file</p>
    <sub>Accepts one of the following: .it, .s3m, .xm, .mod</sub>
        <div class="nes-container">
            <label class="nes-btn">
                <span>Select your file</span>
            <input type="file" name="sampleFile" accept=".it, .s3m, .xm, .mod"></label>
            <input type="submit" value="Submit" class="nes-btn is-light" />
       </div>
</form>