<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="nes-container trk-cntr">
    <header>
        {{> navbar }}
        <section>
            <div>
                <p class="content-titles">
                    {{title}}
                </p>
                <p class="content-titles">
                    {{subject}}
                </p>
            </div>
        </section>
    </header>
    <main class="container content-cntr">
        {{{body}}}
    </main>
     <footer>
            {{> footer }}
        </footer>
    </div>
</body>
</html>