<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <header>
        {{> navbar }}
        <section class="">
            <div class="">
                <p class="">
                    {{title}}
                </p>
                <p class="">
                    {{subject}}
                </p>
            </div>
        </section>
    </header>
    <main>
        {{{body}}}
    </main>
        {{> footer }}
    </div>
</body>
</html>